.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.coy-name,
.nav-bar {
  border: 1px solid green;
}

.coy-name {
  width: 40%;
  display: flex;
  justify-content: center;
}

.nav-bar {
  width: 60%;
  display: flex;
  justify-content: right;
}

.nav-list {
  display: flex;
}

.nav-bar li {
  list-style: none;
  margin: 30px;
}

/* ------------ */
/* leaflet html */
/* ------------ */

/* .fullScreenContainer,
#mouseCoordinates-lat,
#mouseCoordinates-lng {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.fullScreenButton {
  display: block;
  text-align: center;
  width: 100%;
  height: 5vh;
  border: 2px black dotted;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;

  background-color: antiquewhite;

  font-size: larger;
}

#mouseCoordinates-lat,
#mouseCoordinates-lng {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}
